<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>view_server-debug-${uid}.log</file>
    
    <encoder>
      <pattern>%d{dd.MM.yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
</configuration>